.carousel-inner .carousel-item img
{
	height: 80vh;
}
.text-justify
{
	text-align: justify;
}
.bg-img
{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/seaside.jpg");
	height: 72vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
i{
	font-size:24px;
}
.text-black
{
	color:black !important;
}
.infobox
{
	width:100%;
	height: auto;
	background-color:cadetblue;
}
